.img-container {
    display: flex;
    position: relative;
}

.mulherCel {
    width: 50rem;
    height: 45rem;
    position: relative;
    right: 10rem;
}

.ptImage {
    position: absolute;
    z-index: 99;
    width: 1rem;
    left: 19.5em;
    padding: 2rem 0 0 0;
    
}

