@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.home-container {
    display: flex;
    flex-direction: row;
    width: 40%;
    padding: 0 0 0 10rem;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 0 1.5rem;
    width: 35rem;
  
    
    
    h1 {
        color: #0E1133;
        font-size: 3rem;
        font-family: "Nunito", sans-serif;
        line-height: 1.2em;
    }

    p {
        color: #505056;
        font-family: "Rubik", sans-serif;
    }
}

.logoToYou {
    padding: 0 0 5rem 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 35rem 0;

    h1 {
        font-family: "Nunito", sans-serif;
    }

    h5 {
        font-family: "Nunito", sans-serif;
        font-size: 1rem;
    }

    p {
        font-family: "Rubik", sans-serif;
        font-weight: 400;
        font-size: 0.7rem;
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    bottom: 5rem;
}

.info1-container {

    padding: 0 20rem 0 0;
}

   

.info1 {
    display: flex;
    flex-direction: column;
    box-shadow: 10px 20px 50px 0px #95B8C4;
    border-radius: 5px;
    border: solid #ffff 1px;
    width: 35rem;
    height: 11rem;
    justify-content: center;
    padding: 0 0 0 13rem;
    gap: 0.5rem;
    position: inherit;
    z-index: 96;
}

.info2-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    

    .computador {
        width: 8rem;
        height: 6rem;
    }
}

.info2 {
    display: flex;
    position: relative;
    z-index: 97;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 11rem;
    box-shadow: 10px 20px 50px 0px #95B8C4;
    border-radius: 5px;
    border: solid #ffff 1px;
}

.info2-text {
    width: 18rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info3-container {
    display: flex;
    padding: 0 20rem 0 0;
    position: relative;

}

.info3 {
    display: flex;
    position: relative;
    top: 11rem;
    z-index: 98;
    box-shadow: 10px 20px 50px 0px #95B8C4;
    border-radius: 5px;
    border: solid #ffff 1px;
    width: 35rem;
    height: 11rem;
    align-items: center;
    justify-content: center;
    padding: 0 3rem 0 0;

    .settings {
        width: 14rem;
        height: 10rem;
    }

    .info3-text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}

.info4-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}

.info4 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 22rem;
    z-index: 99;
    align-items: row;
    justify-content: center;
    width: 35rem;
    height: 11rem;
    box-shadow: 10px 20px 50px 0px #95B8C4;
    border-radius: 5px;
    border: solid #ffff 1px;
    gap: 0.5rem;
    padding: 0 0 0 13rem;
}

.risco1 {
    width: 4rem;
}
.risco2 {
    width: 4rem;
    height: 1rem;
}

.risco3 {
    width: 4rem;
}

.risco4 {
    width: 4rem;
}

.bolinhas {
    display: flex;
    width: 60%;
    align-items: center;
    position: relative;
    bottom: 5rem;
}